@import "variable";
footer {
    


    section {

        .footerName {
            list-style-type: none;
            font-size: 1.5rem;
            li{
                a{
                    font-family: Caveat;
                    color: white;
                }
            }
        }
        .footerTitle {
            color: $blue-cool;
        }
        div {
            
            nav {
                font-family: Caveat;
                font-size: 1.6rem;
            }
        }
    }
}
